# --------------------
# Logs
# --------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------
# Node Modules
# --------------------
node_modules/

# --------------------
# Frontend Build
# --------------------
frontend/dist/
frontend/dist-ssr/
*.local

# --------------------
# Backend Build
# --------------------
backend/build/
dist/

# --------------------
# Editor directories and files
# --------------------
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --------------------
# Environment variables
# --------------------
.env
frontend/.env
backend/.env

# --------------------
# Optional: Ignore sample data in production
# --------------------
backend/data/
